DATABASE=
BASE=
BOATS_FOLDER=${BASE}/dBOATS
RESOURCES_FOLDER=${BASE}/RESOURCE
SHEETS_FOLDER=${BASE}/Commercial Costing Sheets
MODELS_FILE=${BASE}/Boat Models.xlsx
CONSUMABLES_FILE=${RESOURCES_FOLDER}/Consumables.xlsx
HOURLY_RATES_FILE=${RESOURCES_FOLDER}/HOURLY RATES.xlsx
MARK_UPS_FILE=${RESOURCES_FOLDER}/Mark up.xlsx
MAIL_FROM=
MAIL_TO=
MAIL_SERVER=
LABOR_FABRICATION=
LABOR_PAINT=
LABOR_OUTFITTING=
LABOR_DESIGN=
MY=2022
SUBJECT=${MY} Model Year Costing Sheet for Bill of Materials
SUMMARY=${MY} Model Year Commerical MSRP Report

